.food-card{
    border: 2px solid red;
    border-radius: 5px;
    margin-left: 10px;

}

#card-img{
    width: 100%;
    height: 400px;
   background-size: contain;
   border-radius: 20px;
}

.text-left{
    margin-left: 10px;
}

.add-to-cart{
    background-color: rgb(51, 173, 51);
}